<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <main class="flex flex-col items-center mx-auto ">
        <h3 class="text-center text-lg mb-6">CheckOut Your Hosts Homes Here:</h3>
        <ul class="flex flex-wrap gap-6 w-full ml-12  ">
                <% homes.forEach(home => { %>
                    <li class=" rounded-2xl shadow-lg border-2 border-transparent hover:border-red-600 transition-colors flex flex-col items-center  max-w-xs w-full">
                        <% if (home.photo) { %>
                            <img src="/uploads/<%= home.photo %>" alt="Home photo" class="mb-4 rounded-xl w-full max-h-48 object-cover" />
                        <% } %>
                        <div class="p-4 ">
                            <h2 class="text-xl font-semibold mb-1 text-center"><%= home.homeName %></h2>
                            <p class="text-gray-700 text-center">Location: <%= home.location %></p>
                            <p class="text-gray-700 text-center">Price per night: ₹<%= home.price %></p>
                            <p class="text-gray-700 text-center">Rating: <%= home.rating %> / 5</p>
                            <div class="flex justify-between w-full mt-4">
                                <a 
                                  href="/host/edit-home/<%= home.id %>?editing=true"
                                class="rounded-2xl p-4  bg-green-400">Edit</a>
                                <form action="/host/delete-home/<%= home._id %>" method="POST">
                <button type="submit" class="rounded-2xl p-4  bg-red-400">Delete</button>
              </form>
                            </div>
                        </div>
                    </li>
                <% }) %>
        </ul>
    </main>
</body>
</html>